
assets/js/scriptReadable.js
assets/css/styleReadable.css
assets/text/shortcuts.txt
assets/videos/intro-back-full.mp4
assets/videos/intro.mp4
assets/docs/bewerbungVBJ.docx
assets/docs/cv-de.docx
assets/docs/cv-en.docx
assets/docs/cv-hr.docx
assets/docs/vorlageWeb.docx
